*{
  margin: 0;
  padding: 0;
}

.bottom-border {
  border-bottom: 1px solid #000;
}

.sidebar-wrapper{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    width: fit-content;
    height: 100vh;
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: #fff;
    
    .sidebar-item-wrapper{
      font-size: 18px;
      width: 220px;
      cursor: pointer;
      overflow: hidden;
      transition: width 0.2s;
      color: #000;
      .sidebar-switch-item-list{
      .switch-item a {
        text-decoration: none;
        color: #000;
        &:hover{
          color: red
        }
      }
      }
    }
    .sidebar-item-list {
      margin-top: 10px;
    }
}